---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Especialista en Automatización",
    description:
      "Como profesional, me especializo en la automatización de procesos de negocio para lograr eficiencia.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Compromiso con la Calidad",
    description:
      "Mi compromiso inquebrantable garantiza resultados de alta calidad.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Innovador y Vanguardista",
    description:
      "Constantemente busco soluciones innovadoras para mejorar la eficiencia.",
    icon: "bx:bxs-data",
  },
  {
    title: "Enfoque en la Eficiencia",
    description:
      "Mi mantra es la eficiencia, optimizando procesos para reducir costos.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Generador de Confianza",
    description:
      "Construyo relaciones sólidas basadas en transparencia y responsabilidad.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Sostenibilidad Empresarial",
    description:
      "Mis prácticas responsables preservan el entorno y contribuyen a un mundo mejor.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo lo que necesitas para enfrentarte a la era digital
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Explora mis características clave y cómo puedo marcar la diferencia en tu negocio con mi experiencia en automatización.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
