---
interface Props {
  url?: string
  img?: string
  title?: string
  footer: string
  children?: HTMLElement | HTMLElement[]
}

const { url = '#', title = 'Default title', footer = 'Your name' } = Astro.props
const img = `${Astro.props.img || '/src/assets/images/2023/ry-portada-generica.png'}`;

---

<div class="bg-blue-100 rounded-lg overflow-hidden md:flex">
  <!-- Card Image -->
  <div class="w-full md:w-2/5">
    <a href={url} class="text-blue-500 hover:underline no-underline">
      <img src={img} alt={ title } class="object-cover md:h-auto md:w-full h-auto w-full mt-0 mb-0" />
    </a>
  </div>

  <!-- Card Content -->
  <div class="w-full md:w-3/5 pl-2">
    <div class="text-gray-700 p-0">
      <h3 class="text-2xl mb-0 mt-0">
        <a href={url} class="text-blue-500 hover:underline no-underline">
          {title}
        </a>
      </h3>
        <slot class="m-0">
      </p>
    </div>
  </div>
</div>
