---
interface Props {
  url?: string
  img?: string
  title?: string
  footer: string
  children?: HTMLElement | HTMLElement[]
}

const { url = '#', img = 'https://fakeimg.pl/640x360', title = 'Default title', footer = 'Your name' } = Astro.props
---

<div class="bg-blue-100 shadow-md rounded-lg overflow-hidden md:flex p-0">
  <!-- Card Image -->
  <div class="w-2/5 md:w-2/5">
    <a href={url} class="text-blue-500 hover:underline no-underline">
      <img src={img} alt="{ title }" class="object-cover shadow" />
    </a>
  </div>

  <!-- Card Content -->
  <div class="w-3/5 md:w-3/5 p-0 card__content">
    <div class="text-gray-700">
      <h3 class="text-2xl mb-2">
        <a href={url} class="text-blue-500 hover:underline no-underline">
          {title}
        </a>
      </h3>
      <p>
        <slot>Default description.</slot>
      </p>
    </div>
  </div>
</div>
